body {
    background-color: #a90329;
}

h1 {
    color: white;
}

.pokemon-list li {
    list-style-type: none;

}

.pokemon-list button {
    border-style: none;
    width: 33%;
    margin: 1%;
    background-color: white;

}